.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    /*width: 40%;*/
}
.header .turn {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 0 auto;*/
    height: 33%;
    width: 100%;
    font-size: 30px;
}
